*{
    margin: 0;
    padding: 0;
}
h3{
    background-color: aquamarine;
    color: black;
}
h4{
background-color: greenyellow;
}




h3{
    background-color: blanchedalmond;
    color: blue;
}